<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <% if (user) { %>
        <p class="navbar-text navbar-right">Signed in as <%= user.username %></p>
    <% } %>
  </div>
</nav>