<!doctype html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connected Users</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 10px Helvetica, Arial; }
        .container 
        { 
            margin: 5px;
            padding: 5px; 
            height: 100%;
        }

        .alert
        {
            display: none;
        }
    </style>

    <script src="/js/jquery-3.2.1.min.js"></script>
    
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/additional-methods.js"></script>
    <script src="/js/moment.js"></script>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">

  </head>
    <body>
        <%- include('partials/header', {user: user}) %>

        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">Connected Users</div>
                <div class="panel-body" style="overflow-y: scroll; height: 90%" >

                    <table id="user-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1"><small>Username</small></th>
                            <th class="col-md-2"><small>Room ID</small></th>
                            <th class="col-md-1"><small>Namespace</small></th>
                            <th class="col-md-2"><small>Time Connected</small></th>
                            <th class="col-md-2"><small>Time Idle</small></th>
                            <th class="col-md-4"><small>Remote Address</small></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    </table>
                </div>
            </div>

            <div class="well well-sm">
                <br/>
                <div class="alert alert-danger alert-dismissable" id="alert-error">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <p id="alert-error-txt"></p>
                </div>

                <div class="alert alert-success alert-dismissable" id="alert-success">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <p id="alert-success-txt"></p>
                </div>
            </div>
<script>
$(function ()
{
    $('.alert .close').on('click', function(e) 
    {
        $(this).parent().hide();
    });

    function successAlert(msg)
    {
        $('#alert-success-txt').text(msg);
        $('#alert-success').show();

        $("#alert-success").fadeTo(2000, 500).slideUp(500, function()
        {
            $("#alert-success").slideUp(500);
        });
    }

    function errorAlert(msg)
    {
        $('#alert-error-txt').text(msg);
        $('#alert-error').show();

        $("#alert-error").fadeTo(2000, 500).slideUp(500, function()
        {
            $("#alert-error").slideUp(500);
        });
    }

    loadClients();

    $.ajaxSetup({
        xhrFields: {
            withCredentials: true
        }
    });

    function loadClients()
    {
        $.ajax(
        {
            url: '/api/listClients',
            type: "GET",
            xhrFields: {
                withCredentials: true
            },
            dataType: "json",
            contentType: "application/json",
            cache: false,
            timeout: 5000,
            complete: function() 
            {
            },

            success: function(data) 
            {
                console.log(data);
                loadClientTable(data);
            },

            error: function(jqXHR, textStatus, err)
            {
                console.warn(jqXHR.responseJSON.message)
                console.warn('text status '+textStatus+', err '+err)

                errorAlert(jqXHR.responseJSON.message);
            },
        });
    }

    function loadClientTable(clients)
    {
        $('#user-table tbody').empty();

        $.each(clients, function(id)
        {
            var client = clients[id];

            $('#user-table tbody').append(`
            <tr>
                <td><a href="/profile/${client.user_id}">${client.username}</a></td>
                <td>${client.roomId}</td>
                <td>${client.namespace}</td>
                <td>${moment(client.connectedTime, "YYYY MM DD, h:mm:ss a").fromNow()}</td>
                <td>${moment(client.lastUpdateTime, "YYYY MM DD, h:mm:ss a").fromNow()}</td>
                <td>${client.remoteAddress}</td>
            </tr>
            `);
        });
    }

    function listClients()
    {
        $.ajax(
        {
            url: '/api/clientList',
            type: "POST",
            xhrFields: {
                withCredentials: true
            },
            dataType: "json",
            data: "",
            contentType: "application/json",
            cache: false,
            timeout: 5000,
            complete: function() 
            {
 
            },
            success: function(data) 
            {
                successAlert("Clients Loaded");

                loadClients();
            },
            error: function(jqXHR, textStatus, err)
            {
                console.warn(jqXHR.responseJSON)
                console.warn('text status '+textStatus+', err '+err)

                errorAlert(jqXHR.responseJSON.message);
            },
        });
    }
});
</script>
        </div>

        <%- include('partials/footer', {user: user}) %>
    </body>
</html>

