<!doctype html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error - syncpad server</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 10px Helvetica, Arial; }
        .container 
        { 
            margin: 5px;
            padding: 5px; 
        }
    </style>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
	<body>
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">syncpad server</a>
            </div>
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
        </nav>
		<div class="container">
            <h2>ERROR :-\</h2>
			<%= error.status %>
		</div>
	</body>
</html>
    