<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 10px Helvetica, Arial; }
        .container 
        { 
            margin: 5px;
            padding: 5px; 
        }

		.input-group
        {
            margin: 0px;
            padding: 0px;
        }

        .form-horizontal
        {
            margin: 0px;
            padding: 0px;
        }

        #user-list { list-style-type: none; margin: 0; padding: 0; }
        #user-list li { padding: 5px 10px; }
        #user-list li:nth-child(odd) { background: #eee; }
    </style>

    <script src="/js/jquery-3.2.1.min.js"></script>
    
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/additional-methods.js"></script>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
	<body>
        <%- include('partials/header', {user: user}) %>

		<div class="container">
			<% if (user) { %>
			<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p><br>
			<% } %>
		</div>

        <%- include('partials/footer', {user: user}) %>
	</body>
</html>


