<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 10px Helvetica, Arial; }
        .container 
        { 
            margin: 5px;
            padding: 5px; 
        }

		.input-group
        {
            margin: 0px;
            padding: 0px;
        }

        .form-horizontal
        {
            margin: 0px;
            padding: 0px;
        }

        #user-list { list-style-type: none; margin: 0; padding: 0; }
        #user-list li { padding: 5px 10px; }
        #user-list li:nth-child(odd) { background: #eee; }
    </style>

    <script src="/js/jquery-3.2.1.min.js"></script>
    
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/additional-methods.js"></script>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
	<body>
        <%- include('partials/header', {user: user}) %>

		<div class="container">
			<% if (user) { %>
			<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a> is where you can change your password. See below for a quick start guide on how to use syncpad!</p><br><br>
			<% } %>

            <h2>Quick Start</h2>
            <h4>Install</h4>
            You already have an account, otherwise you wouldn't be able to see this page, so we'll skip that part.<br/><br/>
            You have to download the syncpad-client and install it. You can download it <a href="https://ikonzeh.org/projects/syncpad/releases/x64/syncpad-0.4.1-setup">here</a>.<br/>
            Once you download and install syncpad-client, you will have a shortcut on your desktop.

            <br/><br/>
            <h4>Executing</h4>
            Execute the syncpad shortcut that was installed on your desktop.

            <br/><br/>
            <h4>Logging in</h4>
            When you execute syncpad, you will be greeted with a login window where you set the syncpad server url, your login information, the room ID, and the password for the room. 
            
            <br/><br/>
            If the room does not exist, a room with that ID will be created, the password to join that room will be set to the password you entered and a random encryption key will be generated. 
            <br/><br/>
            If a room exists with that ID, you will join that room with the password you entered. If the password is correct, you will be automatically provided the encryption key and you can then use the editor in that room.
            <br/><br/>
            
            
            <br/><br/>
            The login window will look like this:<br/><br/>
            <img src="/images/syncpad-login.png" />
            <br/><br/>

            <h4>Set the following information:</h4><br/>
            <div class="list-group">
                <a href="#" class="list-group-item">Server: https://syncpad.ikonzeh.org</a>
                <a href="#" class="list-group-item">User: [your user]</a>
                <a href="#" class="list-group-item">Password: [your password]</a>
                <a href="#" class="list-group-item">Editor Room: You can click 'Generate' to generate a random room ID or you can enter your own room ID (the length has to be at least 10 characters).</a>
                <a href="#" class="list-group-item">Room Password: The password used to join a room.</a>
            </div>
            <br/><br/>
            <br/><br/>
            <br/><br/>
		</div>

        <%- include('partials/footer', {user: user}) %>
	</body>
</html>


